.xx-table-container {
    position: relative;
}

.xx-table {
    border-collapse: collapse;
    cellspacing: 0;
    cellpadding: 0;
}

.xx-table td {
    width: 100px;
    padding: 0 4px;
    border: 1px solid #ccc;
}

.xx-table-border {
    position: absolute;
    border: 2px solid cornflowerblue;
}